<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
</head>
<body>
    <h1> This is a home page </h1>

  <h3> 2*3 </h3>  
  
  <h4> <%= 3*6 %> </h4> <!-- 18 -->

  <h4> <%= "pushpendra mehta".toUpperCase() %>  </h4> <!-- PUSHPENDRA MEHTA -->

  <h5> <%= ["Mera","Tera","Uska"][1] %>  </h5>   <!-- Tera -->

  <p> Lorem ipsum dolor site amet consectetur adipisicing elit. Distinctio nostrum iusto hic odit magni minus perferendis aperiam deserunt. Quis atque molestiae explicabo voluptas labore laudantium ratione magnam officiis magni iste.</p>

  <button> Click Me ! </button>
  
</body>
</html>